@font-face {
  font-family: 'MuseoSlab';
  src: url('../webfonts/MuseoSlab-100.eot');
  src: url('../webfonts/MuseoSlab-100.eot?#iefix') format('embedded-opentype'), url('../webfonts/MuseoSlab-100.woff') format('woff'), url('../webfonts/MuseoSlab-100.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url('../webfonts/MuseoSlab-100Italic.eot');
  src: url('../webfonts/MuseoSlab-100Italic.eot?#iefix') format('embedded-opentype'), url('../webfonts/MuseoSlab-100Italic.woff') format('woff'), url('../webfonts/MuseoSlab-100Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url('../webfonts/MuseoSlab-300.eot');
  src: url('../webfonts/MuseoSlab-300.eot?#iefix') format('embedded-opentype'), url('../webfonts/MuseoSlab-300.woff') format('woff'), url('../webfonts/MuseoSlab-300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url('../webfonts/MuseoSlab-300Italic.eot');
  src: url('../webfonts/MuseoSlab-300Italic.eot?#iefix') format('embedded-opentype'), url('../webfonts/MuseoSlab-300Italic.woff') format('woff'), url('../webfonts/MuseoSlab-300Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url('../webfonts/MuseoSlab-500.eot');
  src: url('../webfonts/MuseoSlab-500.eot?#iefix') format('embedded-opentype'), url('../webfonts/MuseoSlab-500.woff') format('woff'), url('../webfonts/MuseoSlab-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url('../webfonts/MuseoSlab-500Italic.eot');
  src: url('../webfonts/MuseoSlab-500Italic.eot?#iefix') format('embedded-opentype'), url('../webfonts/MuseoSlab-500Italic.woff') format('woff'), url('../webfonts/MuseoSlab-500Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url('../webfonts/MuseoSlab-700.eot');
  src: url('../webfonts/MuseoSlab-700.eot?#iefix') format('embedded-opentype'), url('../webfonts/MuseoSlab-700.woff') format('woff'), url('../webfonts/MuseoSlab-700.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url('../webfonts/MuseoSlab-700Italic.eot');
  src: url('../webfonts/MuseoSlab-700Italic.eot?#iefix') format('embedded-opentype'), url('../webfonts/MuseoSlab-700Italic.woff') format('woff'), url('../webfonts/MuseoSlab-700Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url('../webfonts/MuseoSlab-900.eot');
  src: url('../webfonts/MuseoSlab-900.eot?#iefix') format('embedded-opentype'), url('../webfonts/MuseoSlab-900.woff') format('woff'), url('../webfonts/MuseoSlab-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url('../webfonts/MuseoSlab-900Italic.eot');
  src: url('../webfonts/MuseoSlab-900Italic.eot?#iefix') format('embedded-opentype'), url('../webfonts/MuseoSlab-900Italic.woff') format('woff'), url('../webfonts/MuseoSlab-900Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


/* Custom Icon Font from IcoMoon http://icomoon.io */
@font-face {
	font-family: 'lifeboat-icons';
	src:url('../webfonts/lifeboat-icons.eot');
	src:url('../webfonts/lifeboat-icons.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/lifeboat-icons.woff') format('woff'),
		url('../webfonts/lifeboat-icons.ttf') format('truetype'),
		url('../webfonts/lifeboat-icons.svg#lifeboat-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'lifeboat-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
}
.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}