// Set Custom Variables and Mixins

// VARIABLES
// Colors
$lifeboat-blue: $mainColor;
$lifeboat-orange: $secondaryColor;
$lifeboat-yellow: #FBBD26;

$border-light-grey: #E0E0E0;
$border-dark-grey: #B2B2B2;
$background-grey: #F2F2F2;

$text-color: $txtColor;
$text-color-white: $white;
$text-color-light-grey: #8C8C8C;
$text-color-med-grey: #666;
$text-color-dark-grey: #333;
$text-color-black: $black;

// Type
$letter-spacing-title: -.02em;
$letter-spacing-label: .09em;
$line-height-title: .85em;


// Logo measurements
$logo-width: 310px;
$logo-offset-left: -45px;
$logo-offset-top-home: -124px;
$logo-offset-top-inside: -27px;

// Base column widths
$left-col-width: 220px;
$main-col-width: 760px;
$internal-content-col-width: 543px;
$internal-side-col-width: 177px;

// Nav items
$primary-nav-count: 5;

// File locations
$imgdir: "../images/";

// Breakpoints
$break-phone: 480px;
$break-tablet: 768px;
$break-tablet-middle: 900px;
$break-desktop: 1024px;
$break-desktop-large: 1200px;

// MIXINS
// Media Queries
@mixin breakpoint($media, $value: false) {
  @if $media == phone {
    @media only screen and (max-width: $break-phone) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-tablet) and (max-width: $break-desktop) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-desktop) and (max-width: $break-desktop-large) { @content; }
  }
  @else if $media == desktop-large {
    @media only screen and (min-width: $break-desktop-large) { @content; }
  }
  @else if $media == min {
    @media only screen and (min-width: $value) { @content; }
  }
  @else if $media == max {
    @media only screen and (max-width: $value) { @content; }
  }
}
