// Set Custom Variables and Mixins

// VARIABLES
// Colors
$lifeboat-blue: $mainColor;
$lifeboat-orange: #E9722B;
$lifeboat-yellow: #FBBD26;

$color-facebook: #3D5CA4;
$color-twitter: #00B9F7;

$border-light-grey: #E0E0E0;
$border-dark-grey: #B2B2B2;
$border-extra-dark-grey: #333;

$background-page-grey: #F2F2F2; // 5% grey
$background-light-grey: #E5E5E5; // 10% grey
$background-med-grey: #D9D9D9; // 15% grey
$background-dark-grey: #CCCCCC; // 20% grey

$text-color: $txtColor;
$text-color-white: $white;
$text-color-light-grey: #8C8C8C;
$text-color-med-grey: #666;
$text-color-dark-grey: #333;
$text-color-black: $black;

// Type
$letter-spacing-title: -.02em;
$letter-spacing-label: .09em;
$line-height-title: .85em;


// Logo measurements
$logo-width: 310px;
$logo-offset-left: -45px;
$logo-offset-top-home: -124px;
$logo-offset-top-inside: -27px;

// Base column widths
$left-col-width: 220px;
$main-col-width: 760px;
$internal-content-col-width: 543px;
$internal-side-col-width: 177px;

// Nav items
$primary-nav-count: 5;

// File locations
$imgdir: "../images/";


// Home Slider dimensions
$home-slider-lg-height: 500px;
$home-slider-med-height: 350px;
$home-slider-sm-height: 300px;
$home-slider-btn-offset: 160px;

// Homepage nav bar dimensions
$home-nav-lg-height: 59px;
$home-nav-med-height: 50px;
$home-nav-sm-height: 42px;

// Breakpoints
$break-phone-sm: 320px;
$break-phone: 480px;
$break-tablet: 768px;
$break-desktop: 1024px;
$break-desktop-lg: 1200px;

// MIXINS
// Media Queries
@mixin breakpoint($media, $value: false, $value2: false) {
  @if $media == phone-sm {
    @media only screen and (max-width: $break-phone-sm) { @content; }
  }
  @else if $media == phone {
    @media only screen and (max-width: $break-phone) { @content; }
  }
  @else if $media == tablet-down {
    @media only screen and (max-width: ($break-tablet - 1px)) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-tablet) and (max-width: $break-desktop) { @content; }
  }
  @else if $media == tablet-up {
    @media only screen and (min-width: $break-tablet) { @content; }
  }
  @else if $media == desktop-down {
    @media only screen and (max-width: ($break-desktop - 1px)) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-desktop) and (max-width: $break-desktop-large) { @content; }
  }
  @else if $media == desktop-up {
    @media only screen and (min-width: $break-desktop) { @content; }
  }
  @else if $media == desktop-large {
    @media only screen and (min-width: $break-desktop-lg) { @content; }
  }
  @else if $media == min {
    @media only screen and (min-width: $value) { @content; }
  }
  @else if $media == max {
    @media only screen and (max-width: $value) { @content; }
  }
  @else if $media == between {
    @media only screen and (min-width: $value) and (max-width: $value2) { @content; }
  }
}
