/*
 * CSS for Lifeboat Website
 *
 * jordan@digitalsparks.com
 * February 2013
 *
 */

// Your custom settings file to override Foundation defaults; also imports Foundation
@import "settings";

// Import all of Compass
@import "compass";

// Or import custom Compass components
// @import "compass/typography/links/link-colors";

// Custom Imports
@import "variables";
@import "type";


/* --------------------------------------------------
   Global
-----------------------------------------------------
*/

body {
  background-color: $background-page-grey;
}

a {
  color: $lifeboat-orange;
  &:hover {
    color: $lifeboat-blue;
  }
}

/*h1, h2, h3, h4, h5, h6 {
  letter-spacing: $letter-spacing-title;
}*/

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection, ::selection {
  background: $lifeboat-yellow;
  color: $text-color-white;
  text-shadow: none;
}

/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}

ins {
  background-color: $lifeboat-yellow;
  color: $text-color-black;
  text-decoration: none;
}
mark {
  background-color: $lifeboat-yellow;
  color: $text-color-black;
  font-style: italic;
  font-weight: bold;
}


/* --------------------------------------------------
   Layout & Structure
-----------------------------------------------------
*/

#main-container {
  padding: {
    bottom: 45px;
  }
  border-bottom: 1px solid #7F7F7F;
}
.inside #main-container {
  padding-top: 156px;
}

.inside #sidebar {
 margin-top: 165px;
}

#footer-container {
  margin-top: 3px;
  padding: 35px 0 50px;
  border-top: 1px solid #7F7F7F;
}


/* --------------------------------------------------
   Common Elements
-----------------------------------------------------
*/

.subheader {
  font-family: $bodyFontFamily;
  text-transform: none !important;
  letter-spacing: normal !important;
  color: lighten($lifeboat-blue, 10%);
}
.subtitle {
  //@extend .subheader;
  font-family: $bodyFontFamily;
  @include font-size(30);
  font-weight: 100;
  color: $lifeboat-orange;
  margin-top: 0;
  text-transform: none !important;
  letter-spacing: normal !important;
  
}

.panel {
  background: $white;
}

.button {
  border: none !important;
  padding: 9px 25px 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-label;
  @include transition(background-color 0s);
  @include background(image-url("button-arrow-right.png") no-repeat 100% 50%, image-url("button-flap-left.png") no-repeat 0 50%);
  @include background-size(auto 100%);
  background-color: $lifeboat-blue;
  &, &:hover, &:focus, &:active, &:visited {
    @include box-shadow(0 0 0);
    line-height: 1em;
  }
  &:hover, &:focus {
    background-color: $lifeboat-yellow;
  }
  &.small {
    padding: 7px 20px 5px;
  }
  &.tiny {
    font-weight: bold;
    @include font-size(10);
    padding: 6px 17px 5px;
    letter-spacing: $letter-spacing-label * 2;
  }
  &.highlight {
    background-color: $lifeboat-yellow;
    &:hover, &:focus {
      background-color: $lifeboat-blue;
    }
  }
  &.action {
    background-image: none;
    background-color: $lifeboat-orange;
    @include background-image(linear-gradient(#F0822E, #E39117 17%, #E77236 62%, #CA6229));
    @include border-radius(4px);
    border: 1px solid #C96927 !important;
    font-family: $headerFontFamily;
    @include font-size(27);
    letter-spacing: $letter-spacing-title;
    padding: 8px 10px 9px !important;
    @include text-shadow(rgba($text-color-black, 0.2) 0 1px 0);
    @include box-shadow(rgba($black, .2) 0px 2px 8px);
    &:hover, &:focus {
     @include box-shadow(rgba(darken($lifeboat-orange, 10%), .8) 0px 2px 8px, rgba($lifeboat-yellow, .5) 0 0 15px inset);
     @include text-shadow(rgba($black, .2) 0px 2px 8px, rgba($white, .5) 0 0 15px);
    }
  }
  &.alert {
    background-color: $lifeboat-orange;
    &:hover, &:focus {
     background-color: $lifeboat-blue;
    }
  }
  &.secondary {
    color: $text-color-white;
    background-color: lighten($background-dark-grey, 2%); // 18% grey
    &:hover, &:focus {
     background-color: $lifeboat-blue;
    }
  }
}

/* Tabs */
.tabs {
  border: 1px solid #{$border-extra-dark-grey};
  border-width: 1px 0;
  height: 30px;
  dd {
    &, &.active {
      border: none;
      margin: -9px -1% 0;
      padding: 0 3% 17px;
      a, a:hover, a:focus {
        font-weight: 500;
        color: $black;
      }
    }
    &.active {
      @include background(image-url("tab-arrow-yellow@2x.png") no-repeat 50% 100%);
      @include background-size(100% 17px);
      a {
        border: none;
        background-color: $lifeboat-yellow;
      }
    }
    a {
      @include font-size(11);
      letter-spacing: $letter-spacing-label;
      text-transform: uppercase;
      height: 48px;
      line-height: 50px;
      padding: 0 10px;
      &:hover {
        //color: lighten($black, 25%);
        color: $lifeboat-orange;
      }
    }
  }
}
ul.tabs-content {
  clear: both;
  padding: 20px 0 0;
  margin: 0;
}


/* Share Icons */
.share {
  display: inline-block;
  margin: 0;
  text-align: center;
  @include background(image-url("button-flap-right.png") no-repeat 100% 50%, image-url("button-flap-left.png") no-repeat 0 50%);
  @include background-size(auto 100%);
  background-color: $white;
  padding: 4px 20px;
  .share-label {
    text-transform: uppercase;
    @include font-size(12);
    letter-spacing: $letter-spacing-label;
    font-weight: 500;
    display: inline-block;
    color: $text-color-black;
    margin-right: 4px;
  }
  .share-icons {
    display: inline-block;
    .icon {
      cursor: pointer;
      display: block;
      float: left;
      margin: -8px 5px -11px 0;
      @include font-size(15);
      //padding: 7px 7px 6px;
      line-height: 1em;
      height: 31px;
      width: 31px;
      padding: 6px 0px;
      border: 2px solid #{$white};
      background: $lifeboat-yellow;
      color: $white;
      @include border-radius(100px);
      &:hover {
        background: $lifeboat-blue;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

blockquote {
  color: $lifeboat-blue;
  p {
    color: $lifeboat-blue;
    margin-bottom: 10px;
  }
  .attribute {
    color: $text-color;
    font-weight: 500;
    font-style: italic;
  }
}

h1.page-title {
  //font-size: ms(7); // Should be 90px
  @include font-size(90);
  text-transform: uppercase;
  letter-spacing: $letter-spacing-title;
  margin: 0 0 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #{$border-light-grey};
  line-height: $line-height-title;
}

/* Clearfix */
// So I can add a class if desired; better to use @include clearfix(); SCSS mixin on elements if possible
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}


/* --------------------------------------------------
   Header & Navigation
-----------------------------------------------------
*/

/* Inside Pages / General */
#header .nav.container {
  position: absolute;
  width: 100%;
  height: 97px;
  background: {
    image: image-url("header-bg@2x.png");
    repeat: repeat-x;
  }
  @include background-size(100px 97px);
  z-index: 100;
}
#logo {
  margin: {
    left: percentage($logo-offset-left / $left-col-width);
    top: percentage($logo-offset-top-inside / $left-col-width);
  }
  width: percentage($logo-width / $left-col-width);
  z-index: 10;
  @media screen and (max-width: ($break-tablet - 1px)) {
    width: 217px;
    margin: {
      left: -17px;
      top: -17px;
    }
  }
}

/* Home Page */
.home {
  #header .nav.container {
    height: 59px;
    top: 441px;
    background: rgba(#000, .5);
  }
  #logo {
    margin-top: percentage($logo-offset-top-home / $left-col-width);
  }
}

/* Primary Nav */
/* Inside Pages / General */
nav#primary {
  z-index: 100;
  #menu-primary-nav {
    //margin: 0 0 0 ((15px / $main-col-width) * -100%);
    margin: 0 0 0 -15px;
    li {
      float: left;
      list-style: none;
      line-height: 1.55em;
      margin-right: percentage(4px / $main-col-width);
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        color: #fff;
        .link-inner {
          //height: 69px;
          padding: 42px 15px 25px;
          @media screen and (max-width: $break-tablet-middle) {
            padding: {
              top: 63px;
              // 15px 30px;
            }
          }
          small {
            display: block;
            font-family: $bodyFontFamily;
            @include opacity(.8);
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
          }
          div {
            font-family: $headerFontFamily;
            font-weight: bold;
            font-size: 30px;
            text-transform: uppercase;
          }
        }
        .link-btm {
          height: 13px;
          //display: block;
          background: {
            position: top left;
            repeat: no-repeat;
          }
          @include background-size(100% 13px);
        }
        &:hover .link-inner {
          //background: $lifeboat-blue;
          @include background-image(linear-gradient(lighten($lifeboat-yellow, 8%), $lifeboat-yellow));
        }
        &:hover .link-btm {
          background: {
            image: image-url("nav-primary-triangle-hover.png");
          }
        }
      }
      &.active {
        a {
          .link-inner {
            @include background-image(linear-gradient(lighten($lifeboat-blue, 12%), $lifeboat-blue));
          }
          .link-btm {
            background: {
              image: image-url("nav-primary-triangle-active.png");
            }
          }
        }
      }
    }
  }
}
.home nav#primary #menu-primary-nav li a .link-inner {
  padding: {
    top: 4px;
    bottom: 20px;
  }
}

/* Secondary Nav */
nav#secondary {
  margin-top: -9px;
  ul {
    //@include clearfix();
    margin: 0;
    li {
      list-style: none;
      float: left;
      padding: 0 30px 0 0;
      margin: -10px 0 22px;
      border-bottom: 1px solid #{$border-light-grey};
      a {
        display: block;
        color: $lifeboat-orange;
        @include font-size(12);
        font-weight: bold;
        letter-spacing: $letter-spacing-label;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        line-height: 1em;
        padding: 10px 0 10px;
        margin-bottom: -1px;
      }
      &.current_page_item a, a:hover {
        color: $lifeboat-blue;
        border-bottom: 1px solid #{$lifeboat-blue};
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}


/* --------------------------------------------------
   Footer
-----------------------------------------------------
*/

#footer {
  font-family: $headerFontFamily;
  color: $text-color-med-grey;
  letter-spacing: $letter-spacing-label;
  text-transform: uppercase;
  div {
    text-align: center;
  }
  #footer-first {
    margin: 0 0 30px;
  }
  span {
    display: inline-block;
    @include font-size(16);
  }
  .lifeboat-flag {
    img {
      vertical-align: middle;
    }
  }
  .copyright {
    padding: 15px 17px 15px 5px;
    margin-right: 17px;
    border-right: 1px solid #{$border-light-grey};
  }
  .from {
    padding: 4px 17px 4px 0px;
    margin-right: 17px;
    border-right: 1px solid #{$border-light-grey};
    .hearts-minds {
      padding: {
        right: 10px;
      }
    }
    .name {
      vertical-align: middle;
      position: relative;
      top: -2px;
      span {
        display: block;
      }
      .first-name {
        @include font-size(22);
        color: $lifeboat-blue;
        letter-spacing: $letter-spacing-label;
        margin-bottom: 2px;
      }
      .last-name {
        font-family: $bodyFontFamily;
        @include font-size(12);
        font-style: italic;
        font-weight: 500;
        letter-spacing: normal;
        text-transform: none;
      }
    }
    .plus {
      @include font-size(29);
      font-family: $bodyFontFamily;
      font-weight: 100;
      color: lighten($text-color-light-grey, 15%);
      position: relative;
      bottom: -3px;
      padding: 0 2px;
    }
  }
  .contact-us {
    .button {
      @include font-size(14);
      padding: 5px 20px 6px;
      background-color: $lifeboat-yellow;
      &:hover {
        background-color: $lifeboat-blue;
      }
    }
  }
}


/* --------------------------------------------------
   Homepage
-----------------------------------------------------
*/

/* Home Slider */
/*#home-slider {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  .slides {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    .slide {
      min-width: 960px;
      img{
        margin: auto;
        width: 50%;
        min-width: 960px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}*/

#home-slider {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  .slider {
    .slide {
      //min-width: 960px;
      background-position: 50% 25%;
      background-repeat: no-repeat;
      @include background-size(100%);
      @media screen and (max-width: 960px) {
        @include background-size(960px auto);
      }
    }
  }
}


/* Home Positioning Statement Area */
#home-intro {
  margin: {
    top: 15px;
    bottom: 35px;
  }
  .subheader {
    font-weight: normal;
    text-align: center;
    color: $black;
  }
  .home-buttons {
    text-align: center;
    .button {
      margin-right: 45px;
      padding: 6px 20px 4px;
    }
    .share {
      background-color: $background-light-grey;
      padding: 5px 20px 5px;
      .share-icons {
        .icon {
          border-color: $background-light-grey;
          background: $lifeboat-blue;
          line-height: 1em;
          height: 34px;
          width: 35px;
          padding: 8px 0px;
          margin: -11px 5px -13px 0;
          &:hover {
            background: $lifeboat-yellow;
            border-color: $white;
          }
        }
      }
    }
  }
}

/* Sidebar and content label titles */
#main, #sidebar {
  .label-title {
    color: $text-color-black;
    font-family: $bodyFontFamily;
    @include font-size(12);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-label;
  }
}

.home {
  .label-title {
    padding-bottom: 4px;
    border-bottom: 1px solid #DEDEDE;
  }
}


/* --------------------------------------------------
   Shared Inside Styles
-----------------------------------------------------
*/

article {
  header {
    position: relative;
  }
}

#img-vid {
  max-height: 325px;
  overflow: hidden;
  margin-bottom: 25px;
  img {
    display: block;
  }
}

#content, .content {
  h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: $letter-spacing-title;
    //line-height: $line-height-title;
  }
}
#content {
  img {
    margin-bottom: 1em;
  }
  .pull-quote {
    @include font-size(32);
    line-height: 1.35em;
    color: $lifeboat-blue;
    border: 1px solid #{$border-light-grey};
    border-width: 1px 0;
    font-weight: 100;
    font-style: italic;
    width: percentage($main-col-width / $internal-content-col-width);
    margin: {
      bottom: 35px;
      top: 35px;
    }
    padding: 20px 0;
  }
  figure {
    width: percentage($main-col-width / $internal-content-col-width);
    figcaption {
      font-weight: normal;
      font-style: italic;
      padding: 0 0 17px;
      border-bottom: 1px solid #{$border-light-grey};
      width: percentage($internal-side-col-width / $main-col-width);
      @include font-size(13);
      line-height: 1.6em;
      margin-bottom: 1.6em;
    }
  }
}

.single .type-post {
  .pull-quote, figure {
    margin-left: ((($internal-side-col-width + 40px) / $internal-content-col-width) * -100%);
  }
  .share {
    margin: 7px -8% 0;
    padding: 4px 10px;
    width: 116%;
  }
}
.page .type-page {
  .pull-quote, figure {
    margin-right: ((($internal-side-col-width + 40px) / $internal-content-col-width) * -100%);
  }
  .share {
    margin: 0 0 0 -10%;
    padding: 4px 10px;
    width: 110%;
  }
}

/* Bottom Tabs */
#bottom-tabs {
  margin: 42px 0 0;
}

#refs {
  color: $text-color-light-grey;
  border-top: 1px solid #{$border-light-grey};
  padding: 20px 0 10px;
  margin: 40px 0 0;
  h3, h4, h5, .label-title {
    font-weight: 500;
    @include font-size(11);
    color: $text-color-dark-grey;
    border-bottom: none;
    margin: -10px 0 12px;
  }
  ol, ul, p, li, div, dt, dl, dd {
    @include font-size(13);
  }
  li {
    margin-bottom: 10px;
  }
}


/* --------------------------------------------------
   Overview Page Template
-----------------------------------------------------
*/

.template-overview {
  #content {
    padding-bottom: 10px;
    margin-bottom: 15px;
    &.with-content {
      border-bottom: 1px solid #{$border-light-grey};
    }
  }
  #overview-grid {
    margin-top: 15px;
  }
}

#overview-grid {
  li {
    padding: {
      bottom: 20px;
    }
    a {
      display: block;
      padding-left: 80px;
      line-height: 1.5em;
      color: $text-color;
      span {
        color: $lifeboat-orange;
        padding: 1px;
      }
      p, li, div, dl, dt, dd {
        @include font-size(14);
      }
      &:hover {
        color: lighten($text-color, 20%);
        h2 {
          color: $lifeboat-orange;
        }
        span {
          //color: $text-color-white;
          //background: $lifeboat-yellow;
          text-decoration: underline;
        }
      }
    }
    background: {
      image: image-url("icon-flag.svg");
      repeat: no-repeat;
      position: 8px 2px;
    }
    &.odd {
      padding-right: 20px;
    }
    &.even {
      padding-left: 28px;
      background-position: 28px 2px;
    }
    h2 {
      text-transform: uppercase;
      letter-spacing: $letter-spacing-title;
      @include font-size(34);
      margin: 0 0 5px;
    }
  }
}


/* --------------------------------------------------
   Landing Page Template
-----------------------------------------------------
*/

.template-landing {
  header {
    &.with-banner-title {
      margin-bottom: 42px;
    }
    .banner-title {
      position: absolute;
      line-height: $line-height-title;
      bottom: 20px;
      right: -12px;
      @include font-size(60);
      //letter-spacing: $letter-spacing-title;
      padding: 0 0 0 30px;
      margin: 0;
      color: $text-color-white;
      text-align: right;
      text-transform: uppercase;
      background: {
        image: image-url("banner-title-flag-left@2x.png");
        repeat: no-repeat;
        position: 0 50%;
      }
      @include background-size(30px 100%);
      @include box-shadow(rgba($black, .2) 0px 4px 8px);
      @include text-shadow(rgba($text-color-black, 0.2) 0 -1px 0);
      .title-inner {
        display: block;
        background-color: $lifeboat-blue;
        @include background(linear-gradient(top left, $lifeboat-blue, lighten($lifeboat-blue, 8%)));
        padding: 14px 35px 14px 18px;
      }
      .corner-flap {
        display: block;
        position: absolute;
        right: 0px;
        bottom: -11px;
        width: 12px;
        height: 11px;
        @include background(image-url("banner-title-flap-right@2x.png") no-repeat);
        @include background-size(100%);
        /*background: {
          image: image-url("banner-title-flap-right@2x.png");
          repeat: no-repeat;
        }*/
      }
    }
  }
  #content {
    &.nine {
      padding-right: percentage(30px / $main-col-width);
    }
    .subtitle {
      @include font-size(32);
    }
  }
  #landing-action {
    position: relative;
    &.nine {
      padding-left: percentage(30px / $main-col-width);
    }
    .landing-action-arrow {
      @include cssTriangle(24px, $lifeboat-yellow, right);
      position: absolute;
      left: -17px;
      top: 25px;
    }
    .landing-action-content {
      background-color: $lifeboat-yellow;
      padding: 25px;
      h2, h3, h4, h5 {
        margin: 0 0 15px;
        color: $text-color-white;
        letter-spacing: $letter-spacing-title;
        line-height: $line-height-title;
        text-transform: uppercase;
      }
      p {
        @include font-size(16);
        line-height: 1.2em;
        //font-weight: 500;
        margin-bottom: 10px;
        &.privacy {
          text-align: center;
        }
        small {
          font-size: percentage(12px / 16px);
          color: $text-color-white;
          a {
            text-decoration: underline;
            color: $text-color-white;
            &:hover {
              text-decoration: none;
              color: $text-color-white;
            }
          }
        }
      }
      form {
        margin-bottom: 5px;
        .button.action {
          width: 100%;
        }
      }
      .tabs {
        height: 25px;
        dd {
          &, &.active {
            margin: -7px -2% 0;
            padding: 0 3% 13px;
            a, a:hover, a:focus {
              color: $black;
            }
          }
          &.active {
            @include background(image-url("tab-arrow-white@2x.png") no-repeat 50% 100%);
            @include background-size(100% 13px);
            a {
              background-color: $white;
            }
          }
          a {
            @include font-size(10);
            height: 37px;
            line-height: 40px;
            &:hover {
              color: $text-color-white;
            }
          }
        }
      }
      .tabs-content {
        clear: both;
      }
    }
  }
}

/* Become an Insider */
.page-id-166 {
  #img-vid {
    //margin-top: -40px;
    margin-top: -28px;
    //z-index: 0;
  }
}


/* --------------------------------------------------
   Getting Started Guide
-----------------------------------------------------
*/

.getting-started-guide {
  .type-page {
    background: $white;
    padding: 20px;
    h1.page-title {
      //@include font-size(96);
    }
    .subtitle {
      @include font-size(32);
      margin-bottom: 20px;
    }
    blockquote {
      padding: 0;
      border: none;
      padding-top: 20px;
      border-top: 1px solid #{$border-light-grey};
      p {
        @include font-size(18);
        font-style: italic;
        font-weight: 100;
      }
      .attribute {
        @include font-size(16);
        font-weight: 500;
      }
    }
    #practice-thumbs-grid {
      margin-top: 25px;
      border-top: 1px solid #{$border-light-grey};
      .label-title {
        margin: 12px 0;
        @include font-size(11);
      }
      .practice-thumb {
        a {
          position: relative;
          display: block;
          h2 {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            padding: 10px;
            overflow: hidden;
            background: rgba($lifeboat-yellow, .95);
            color: $text-color-white;
            text-transform: uppercase;
            @include font-size(30);
            line-height: $line-height-title;
            letter-spacing: $letter-spacing-title;
            @include text-shadow(rgba($text-color-black, 0.2) 0 -1px 0);
            @include transition(opacity .2s);
            @include opacity(0);
          }
          &:hover h2 {
            @include opacity(1);
          }
          img {
            display: block;
          }
        }
      }
    }
  }
  .practice-bottom {
    height: 68px;
    background: {
      image: image-url("triangle-bottom-white.png");
      repeat: no-repeat;
      position: top left;
    }
    @include background-size(100% 100%);
  }
}

#lifeboat-practices {
  .practice {
    position: relative;
    background: $white;
    .practice-top {
      position: absolute;
      height: 68px;
      width: 100%;
      background: {
        image: image-url("triangle-top-grey.png");
        repeat: no-repeat;
        position: top left;
      }
      @include background-size(100% 100%);
      .practice-num {
        display: block;
        text-align: center;
        position: relative;
        top: 50px;
        span {
          background: $lifeboat-blue;
          padding: 9px 0px;
          @include font-size(20);
          font-weight: 900;
          border: 2px solid $background-page-grey;
          color: $text-color-white;
          width: 40px;
          height: 40px;
          display: inline-block;
          @include border-radius(100px);
        }
      }
    }
    .practice-banner {
      img {
        display: block;
      }
    }
    .practice-content {
      padding: 20px 20px 20px;
      h2, h3, h4, h5 {
        text-align: center;
        background: {
          image: image-url("line-repeat-light-grey.png");
          repeat: repeat-x;
          position: 0 50%;
        }
        @include background-size(1px 1px);
        span {
          background: $white;
          padding: 0 12px;
        }
      }
      .practice-title {
        @include font-size(62);
        margin: 0 0 25px;
      }
      .content-inner {
        @include column-count(2);
        @include column-gap(40px);
        ul {
          padding-left: 1.1em;
        }
      }
    }
  }
}


/* --------------------------------------------------
   Blog
-----------------------------------------------------
*/

/* Blog Post Teaser */
.post-teaser {
  a.post-link {
    display: block;
    @include clearfix();
    &:hover {
      .post-content {
        h2 {
          color: $lifeboat-orange;
        }
        .subtitle {
          color: darken($text-color-dark-grey, 20%);
        }
        .meta {
          color: darken($text-color-light-grey, 20%)
        }
      }
    }
  }
  .post-image {
    float: left;
    width: percentage(400px / $main-col-width);
    //margin-right: percentage(20px / $main-col-width);
    margin-right: 20px;
  }
  .post-content {
    h2 {
      margin: -4px 0 10px;
      color: $lifeboat-yellow;
      @include font-size(62);
      text-transform: uppercase;
      letter-spacing: $letter-spacing-title;
      line-height: $line-height-title;
    }
    .subtitle {
      color: $text-color-dark-grey;
      font-weight: normal;
      margin-top: 0;
      @include font-size(24);
    }
    .meta {
      font-style: italic;
      color: $text-color-light-grey;
      font-weight: 500;
      time, div {
        @include font-size(13);
        display: inline-block;
        padding: 8px 10px 8px 8px;
        border-right: 1px solid #{$border-light-grey};
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
          border-right: none;
        }
      }
      small {
        font-size: percentage(10px/14px);
        text-transform: uppercase;
        letter-spacing: $letter-spacing-label;
        font-style: normal;
      }
    }
  }
  &.with-image {
    a.post-link {
      .post-content {
        float: left;
        width: percentage(340px / $main-col-width);        
      }
    }
  }
}

/* Homepage Featured Blog Post */
.home .post-teaser {
  .button#more-from-blog {
  }
  .post-content {
    h2 {
      @include font-size(72);
    }
  }
}

/* Blog Index Page */
.blog {
  h1.page-title {
    margin-bottom: 35px;
  }
}

.inside {
  .post-teaser {
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #{$border-light-grey};
  }
}

/* Single Blog Posts */
.single .type-post {
  .five.columns {
    padding-right: 30px;
  }
  .subtitle, time, .credits {
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid #{$border-light-grey};
  }
  time {
    display: block;
    @include font-size(15);
    font-style: italic;
    line-height: 1.6em;
  }
  .credits {
    @include font-size(14);
    line-height: 1.3em;
    font-style: italic;
    small {
      color: $text-color-med-grey;
      font-size: percentage(10px/14px);
      text-transform: uppercase;
      letter-spacing: $letter-spacing-label;
      font-style: normal;
    }
    a {
      color: $text-color;
      &:hover {
        color: $text-color-med-grey;
        text-decoration: underline;
      }
    }
  }
  footer {
    .categories {
      padding: 15px 0;
      margin-top: 30px; 
      border: 1px solid #{$border-light-grey};
      border-width: 1px 0;
      @include clearfix();
      .label-title {
        float: left;
        font-weight: 500;
        margin: 7px 10px 0 0;
      }
      .post-categories {
        float: left;
        margin: 0;
        li {
          display: inline-block;
          margin-right: 8px;
          a {
            color: $text-color-white;
            font-weight: 500;
            @include font-size(10);
            letter-spacing: $letter-spacing-label;
            @include border-radius(10px);
            text-transform: uppercase;
            background-color: #D9D9D9;
            padding: 6px 10px 5px;
            &:hover {
              background-color: $lifeboat-blue;
            }
          }
        }
      }
    }
    #share-bottom {
      padding: 50px 0;
      h3 {
        @include font-size(22);
        color: $text-color-black;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 35px;
      }
      .share-bottom-buttons {
        text-align: center;
        .button {
          font-family: $headerFontFamily;
          @include font-size(28);
          padding: 0px 40px 8px;
          @include text-shadow(rgba($text-color-black, 0.2) 0 -1px 0);
          .icon {
            margin: -10px 5px -13px 0;
            @include font-size(38);
            line-height: 1em;
            height: 70px;
            width: 70px;
            padding: 12px 11px 6px 11px;
            border: 5px solid;
            background-color: $white;
            @include border-radius(100px);
            @include text-shadow(none);
            .button-text {
              //float: left;
              display: inline-block;
              
            }
          }
          &:hover {
            background-color: $lifeboat-yellow;
            .icon {
              color: $lifeboat-yellow;
              border-color: $lifeboat-yellow;
            }
          }
        }
        .st_facebook_custom {
          background-color: $color-facebook;
          margin-right: 25px;
          .icon {
            color: $color-facebook;
            border-color: $color-facebook;
          }
        }
        .st_twitter_custom {
          background-color: $color-twitter;
          .icon {
            color: $color-twitter;
            border-color: $color-twitter;
          }
        }
      }
    }
  }
}


/* Disqus Comments */
#comments {
  border-top: 1px solid #{$border-dark-grey};
  h2 {
    text-transform: uppercase;
    letter-spacing: $letter-spacing-title;
    margin: 5px 0 35px;
  }
  .disqus-comments {
    background-color: $white;
    padding: 40px;
    position: relative;
    &:before {
      position: absolute;
      top: -48px;
      left: 90px;
      @include cssTriangle(24px, $white, bottom);
    }
  }
}


/* --------------------------------------------------
   Pages
-----------------------------------------------------
*/

.page .type-page {
  .five.columns {
    padding-left: 30px;
  }
}


/* --------------------------------------------------
   Sidebar + Widgets
-----------------------------------------------------
*/

#sidebar {
  .widget {
    margin-bottom: 45px;
    text-align: center;
    padding: 5px 5px 8px;
    p {
      font-style: normal;
      font-weight: normal;
      @include font-size(15);
    }
    .button {
      display: block;
      margin: 0 -20px;
      font-family: $headerFontFamily;
      @include font-size(26);
      letter-spacing: 0;
      padding: 6px 25px 7px;
      @include text-shadow(rgba($text-color-black, 0.15) 0 -1px 0);
      @include background(image-url("button-flap-right.png") no-repeat 100% 50%, image-url("button-flap-left.png") no-repeat 0 50%);
      @include background-size(auto 100%);
    }
  }
  #widget-text-2 {
    background: $white;
    border-top: 3px solid $lifeboat-orange;
    background: {
      image: image-url("tim-alia@2x.png");
      repeat: no-repeat;
      position: 30% 100%;
    }
    @include background-size(130%);
    .widget-title {
      @include font-size(18);
      color: $lifeboat-orange;
      font-style: italic;
      line-height: 1.1em;
      font-family: $bodyFontFamily;
      //letter-spacing: $letter-spacing-title;
      font-weight: normal;
      margin: 10px 0;
    }
    hr {
      border-color: $border-light-grey;
      width: 45%;
      margin: 8px auto;
    }
    .button {
      margin-top: 107px;
      background-color: $lifeboat-orange;
      &:hover {
        background-color: $lifeboat-blue;
      }
    }
  }
  #widget-text-3 {
    background: {
      image: image-url("share-manifesto@2x.jpg");
      repeat: no-repeat;
      position: 50% 0;
    }
    @include background-size(150%);
    p {
      margin: 85px 0 5px;
    }
    .button {
      background-color: $lifeboat-yellow;
      &:hover {
        background-color: $lifeboat-blue;
      }
    }
  }
}


/* --------------------------------------------------
   Main Media Queries
-----------------------------------------------------
*/

@media screen and (max-width: $break-tablet-middle) {
//@include breakpoint($break-tablet-middle) {
  #home-slider {
    height: 350px;
  }
  .home #header .nav.container {
    top: (350px - 59px);
  }

  /* Hide parts of nav at a breakpoint */
  nav#primary {
    span, small {
      display: none !important;
    }
  }
}

@media screen and (max-width: $break-phone) {
//@include breakpoint($break-phone) {
  #home-slider {
    height: 300px;
  }
  .home #header .nav.container {
    top: (300px - 59px);
  }
}