/*
 * CSS for Lifeboat Website
 *
 * jordan@digitalsparks.com
 * February 2013
 *
 */

// Your custom settings file to override Foundation defaults; also imports Foundation
@import "settings";

// Import all of Compass
@import "compass";

// Or import custom Compass components
// @import "compass/typography/links/link-colors";

// Custom Imports
@import "variables";
@import "type";


/* --------------------------------------------------
   Global
-----------------------------------------------------
*/

body {
  background-color: $background-page-grey;
}

a {
  color: $color-lifeboat-orange;
  outline: 0;
  &:hover {
    color: $color-lifeboat-blue;
  }
}

/*h1, h2, h3, h4, h5, h6 {
  letter-spacing: $letter-spacing-title;
}*/

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection, ::selection {
  background: $color-lifeboat-yellow;
  color: $text-color-white;
  text-shadow: none;
}

/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}

ins {
  background-color: $color-lifeboat-yellow;
  color: $text-color-black;
  text-decoration: none;
}
mark {
  background-color: $color-lifeboat-yellow;
  color: $text-color-black;
  font-style: italic;
  font-weight: bold;
}


/* --------------------------------------------------
   Layout & Structure
-----------------------------------------------------
*/

#main-container {
  padding: {
    bottom: 45px;
  }
  border-bottom: 1px solid #7F7F7F;
}
.inside #main-container {
  padding-top: 156px;
  @include breakpoint(tablet-down) {
    padding-top: 220px;
  }
}

.inside #sidebar {
 @include breakpoint(min, 768px) {
   margin-top: 70px;
 }
 @include breakpoint(min, 800px) {
   margin-top: 90px;
 }
 @include breakpoint(min, 900px) {
   margin-top: 115px;
 }
 @include breakpoint(min, 950px) {
   margin-top: 135px;
 }
 @include breakpoint(min, 1000px) {
   margin-top: 150px;
 }
 @include breakpoint(desktop-up) {
   margin-top: 165px;
 }
}

#footer-container {
  margin-top: 3px;
  padding: 35px 0 40px;
  border-top: 1px solid #7F7F7F;
}


/* --------------------------------------------------
   Common Elements
-----------------------------------------------------
*/

.subheader {
  font-family: $bodyFontFamily;
  text-transform: none !important;
  letter-spacing: normal !important;
  color: lighten($color-lifeboat-blue, 10%);
}
.subtitle {
  //@extend .subheader;
  font-family: $bodyFontFamily;
  @include font-size(30);
  font-weight: 100;
  color: $color-lifeboat-orange;
  margin-top: 0;
  text-transform: none !important;
  letter-spacing: normal !important;
  
}

.panel {
  background: $white;
}

.button {
  border: none !important;
  padding: 9px 25px 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-label;
  @include transition(background-color 0s);
  @include background(image-url("button-arrow-right.png") no-repeat 100% 50%, image-url("button-flap-left.png") no-repeat 0 50%);
  @include background-size(auto 100%);
  background-color: $color-lifeboat-blue;
  &, &:hover, &:focus, &:active, &:visited {
    @include box-shadow(0 0 0);
    line-height: 1em;
  }
  &:hover, &:focus {
    background-color: $color-lifeboat-yellow;
  }
  &.small {
    padding: 7px 20px 5px;
  }
  &.tiny {
    font-weight: bold;
    @include font-size(10);
    padding: 6px 17px 5px;
    letter-spacing: $letter-spacing-label * 2;
  }
  &.highlight {
    background-color: $color-lifeboat-yellow;
    &:hover, &:focus {
      background-color: $color-lifeboat-blue;
    }
  }
  &.action {
    background-image: none;
    background-color: $color-lifeboat-orange;
    @include background-image(linear-gradient(#F0822E, #E39117 17%, #E77236 62%, #CA6229));
    @include border-radius(4px);
    border: 1px solid #C96927 !important;
    font-family: $headerFontFamily;
    @include font-size(27);
    letter-spacing: $letter-spacing-title;
    padding: 8px 10px 9px !important;
    @include text-shadow(rgba($text-color-black, 0.2) 0 1px 0);
    @include box-shadow(rgba($black, .2) 0px 2px 8px);
    &:hover, &:focus {
     @include box-shadow(rgba(darken($color-lifeboat-orange, 10%), .8) 0px 2px 8px, rgba($color-lifeboat-yellow, .5) 0 0 15px inset);
     @include text-shadow(rgba($black, .2) 0px 2px 8px, rgba($white, .5) 0 0 15px);
    }
  }
  &.alert {
    background-color: $color-lifeboat-orange;
    &:hover, &:focus {
     background-color: $color-lifeboat-blue;
    }
  }
  &.secondary {
    color: $text-color-white;
    background-color: lighten($background-dark-grey, 2%); // 18% grey
    &:hover, &:focus {
     background-color: $color-lifeboat-blue;
    }
  }
}

/* Tabs */
.tabs {
  border: 1px solid #{$border-extra-dark-grey};
  border-width: 1px 0;
  height: 30px;
  dd {
    &, &.active, &:first-child {
      border: none;
      margin: -9px -1% 0;
      padding: 0 3% 17px;
      a, a:hover, a:focus {
        font-weight: 500;
        color: $black;
      }
    }
    &.active {
      @include background(image-url("tab-arrow-yellow@2x.png") no-repeat 50% 100%);
      @include background-size(100% 17px);
      a {
        border: none;
        background-color: $color-lifeboat-yellow;
      }
    }
    a {
      @include font-size(11);
      letter-spacing: $letter-spacing-label;
      text-transform: uppercase;
      height: 48px;
      line-height: 50px;
      padding: 0 10px;
      &:hover {
        //color: lighten($black, 25%);
        color: $color-lifeboat-orange;
      }
    }
  }
}
ul.tabs-content {
  clear: both;
  padding: 20px 0 0;
  margin: 0;
}


/* Share Icons */
.share {
  display: inline-block;
  margin: 0;
  text-align: center;
  @include background(image-url("button-flap-right.png") no-repeat 100% 50%, image-url("button-flap-left.png") no-repeat 0 50%);
  @include background-size(auto 100%);
  background-color: $white;
  padding: 4px 20px;
  .share-label {
    text-transform: uppercase;
    @include font-size(12);
    letter-spacing: $letter-spacing-label;
    font-weight: 500;
    display: inline-block;
    color: $text-color-black;
    margin-right: 4px;
  }
  .share-icons {
    display: inline-block;
    .icon {
      cursor: pointer;
      display: block;
      float: left;
      margin: -8px 5px -11px 0;
      @include font-size(15);
      //padding: 7px 7px 6px;
      line-height: 1em;
      height: 31px;
      width: 31px;
      padding: 6px 0px;
      border: 2px solid #{$white};
      background: $color-lifeboat-yellow;
      color: $white;
      @include border-radius(100px);
      &:hover {
        background: $color-lifeboat-blue;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@include breakpoint(desktop-down) {
  .five.columns .share .share-label {
    display: none;    
  }
}


blockquote {
  color: $color-lifeboat-blue;
  p {
    color: $color-lifeboat-blue;
    margin-bottom: 10px;
  }
  .attribute {
    color: $text-color;
    font-weight: 500;
    font-style: italic;
  }
}

h1.page-title {
  @include font-size(90);
  text-transform: uppercase;
  letter-spacing: $letter-spacing-title;
  margin: 0 0 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #{$border-light-grey};
  line-height: $line-height-title;
  @include breakpoint(phone) {
    @include font-size(72);
  }
}

/* Clearfix */
// So I can add a class if desired; better to use @include clearfix(); SCSS mixin on elements if possible
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}


/* --------------------------------------------------
   Header & Navigation
-----------------------------------------------------
*/

/* Inside Pages / General */
#header .nav.container {
  position: absolute;
  width: 100%;
  height: 97px;
  background: {
    image: image-url("header-bg@2x.png");
    repeat: repeat-x;
  }
  @include background-size(auto 97px);
  @include breakpoint(tablet-down) {
    height: 107px;
    @include background-size(auto 106px);
  }
  //z-index: 100;
}
#logo {
  margin: {
    left: percentage($logo-offset-left / $left-col-width);
    top: percentage($logo-offset-top-inside / $left-col-width);
  }
  width: percentage($logo-width / $left-col-width);
  //z-index: 10;
  @include breakpoint(tablet-down) {
    width: 211px;
    margin: {
      left: -30px;
      top: -18px;
    }
    float: left;
  }
}

/* Home Page */
.home {
  #header .nav.container {
    height: $home-nav-lg-height;
    top: $home-slider-lg-height - $home-nav-lg-height;
    background: rgba(#000, .5);
    @include breakpoint(desktop-down) {
      height: $home-nav-med-height;
      top: ($home-slider-med-height - $home-nav-med-height);
    }
    @include breakpoint(tablet-down) {
      height: $home-nav-sm-height;
      top: ($home-slider-med-height - $home-nav-sm-height);
    }
    @include breakpoint(phone) {
      height: $home-nav-sm-height;
      top: ($home-slider-sm-height - $home-nav-sm-height);
    }
  }
  #logo {
    margin-top: percentage($logo-offset-top-home / $left-col-width);
    @include breakpoint(tablet-down) {
      margin-top: -84px;
    }
  }
}

/* Primary Nav */
/* Inside Pages / General */
nav#primary {
  ul {
    margin: 0 0 0 -15px;
    li {
      float: left;
      list-style: none;
      line-height: 1.55em;
      margin-right: percentage(4px / $main-col-width);
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        color: #fff;
        .link-inner {
          padding: 42px 15px 25px;
          /* Breakpoints to shrink full nav in */
          @include breakpoint(max, 1095px) {
            padding: {
              left: 12px;
              right: 12px;
            }
          }
          @include breakpoint(max, 1055px) {
            padding: {
              left: 10px;
              right: 10px;
            }
          }
          @include breakpoint(desktop-down) {
            padding: 63px 28px 25px;
            span, small {
              display: none !important;
            }
          }
          @include breakpoint(max, 900px) {
            padding: {
              left: 20px;
              right: 20px;
            }
          }
          small {
            display: block;
            font-family: $bodyFontFamily;
            @include opacity(.8);
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
          }
          div {
            font-family: $headerFontFamily;
            font-weight: bold;
            font-size: 30px;
            text-transform: uppercase;
          }
        }
        .link-btm {
          height: 13px;
          //display: block;
          background: {
            position: center top;
            repeat: no-repeat;
          }
          @include background-size(100% 13px);
        }
        &:hover .link-inner {
          //background: $color-lifeboat-blue;
          @include background-image(linear-gradient(lighten($color-lifeboat-yellow, 8%), $color-lifeboat-yellow));
        }
        &:hover .link-btm {
          background-image: image-url("nav-primary-triangle-hover.png");
        }
      }
      &.active {
        a {
          .link-inner {
            @include background-image(linear-gradient(lighten($color-lifeboat-blue, 12%), $color-lifeboat-blue));
          }
          .link-btm {
            background-image: image-url("nav-primary-triangle-active.png");
          }
        }
      }
    }
  }
}
.home nav#primary ul li a .link-inner {
  padding: {
    top: 4px;
    bottom: 20px;
  }
  @include breakpoint(desktop-down) {
    padding: {
      top: 15px;
      bottom: 24px;
    }
  }
}

/* Mobile Primary Nav */
nav#mobile-primary {
  cursor: pointer;
  position: relative;
  float: right;
  top: 66px;
  .mobile-primary-inner {
    //@include background-image(linear-gradient(lighten($color-lifeboat-blue, 12%), $color-lifeboat-blue));
    background-color: $color-lifeboat-blue;
    @include background(image-url("nav-mobile-icon.png") 50% 45% no-repeat);
    @include background(image-url("nav-mobile-icon.png") 50% 45% no-repeat, linear-gradient(lighten($color-lifeboat-blue, 12%), $color-lifeboat-blue));
    @include background-size(36px 17px, 100%);
    width: 66px;
    height: 45px;
  }
  .mobile-primary-btm {
    background-image: image-url("nav-primary-triangle-active.png");
    height: 9px;
    background: {
      position: center top;
      repeat: no-repeat;
    }
    @include background-size(100% 9px);
  }
  ul {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    width: 210px;
    border: 1px solid $white;
    border-width: 1px 0;
    z-index: 100;
    margin: 0;
    background-color: $color-lifeboat-blue;
    @include box-shadow(rgba($black, .15) 0px 3px 8px);
    li {
      list-style: none;
      border-bottom: 1px solid rgba($white, .4);
      a {
        display: block;
        padding: 15px 15px 13px;
        text-align: right;
        @include font-size(12);
        text-transform: uppercase;
        color: $text-color-white;
        letter-spacing: $letter-spacing-label;
        line-height: 1em;
        div {
          font-weight: 900;
        }
        small, span, div {
          font-size: 1em;
          display: inline;
        }
      }
      &:last-child {
        border-bottom: none;
        span {
          display: none;
        }
      }
      &.active {
        a {
          background-color: darken($color-lifeboat-blue, 7%);
        }
      }
      & a:hover, &.active a:hover {
        background-color: $color-lifeboat-yellow;
      }

    }
  }
  &.active ul {
    display: block;
  }
}

.home nav#mobile-primary {
  top: 0;
  .mobile-primary-inner {
    height: 48px;
  }
  ul {
    top: $home-nav-sm-height;
  }
}

/* Secondary Nav */
nav#secondary {
  @include breakpoint(tablet-up) {
    margin-top: -9px;
  }
  ul {
    //@include clearfix();
    margin: 0;
    li {
      list-style: none;
      float: left;
      padding: 0 30px 0 0;
      margin: -10px 0 22px;
      border-bottom: 1px solid #{$border-light-grey};
      a {
        display: block;
        color: $color-lifeboat-orange;
        @include font-size(12);
        font-weight: bold;
        letter-spacing: $letter-spacing-label;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        line-height: 1em;
        padding: 10px 0 10px;
        margin-bottom: -1px;
      }
      &.current_page_item a, a:hover {
        color: $color-lifeboat-blue;
        border-bottom: 1px solid #{$color-lifeboat-blue};
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}


/* --------------------------------------------------
   Footer
-----------------------------------------------------
*/

#footer {
  font-family: $headerFontFamily;
  color: $text-color-med-grey;
  letter-spacing: $letter-spacing-label;
  text-transform: uppercase;
  div {
    text-align: center;
  }
  #footer-first {
    margin: 0 0 30px;
  }
  span {
    display: inline-block;
    @include font-size(16);
  }
  a {
    font-size: inherit;
  }
  .lifeboat-flag {
    img {
      vertical-align: middle;
    }
    @include breakpoint(max, 925px) {
      display: block;
      margin-bottom: 20px;
    }
  }
  .copyright {
    padding: 15px 17px 15px 5px;
    margin-right: 17px;
    border-right: 1px solid #{$border-light-grey};
    @include breakpoint(max, 475px) {
      display: block;
      padding: 10px 0px 5px 0px;
      margin-right: 0;
      border: none;
    }
  }
  .from {
    padding: 4px 17px 4px 0px;
    margin-right: 17px;
    border-right: 1px solid #{$border-light-grey};
    .hearts-minds {
      padding: {
        right: 10px;
      }
      @include breakpoint(max, 375px) {
        display: block;
        padding: 4px 0px 7px 0px;
      }
    }
    .name {
      vertical-align: middle;
      position: relative;
      top: -2px;
      span {
        display: block;
      }
      .first-name {
        @include font-size(22);
        color: $color-lifeboat-blue;
        letter-spacing: $letter-spacing-label;
        margin-bottom: 2px;
      }
      .last-name {
        font-family: $bodyFontFamily;
        @include font-size(12);
        font-style: italic;
        font-weight: 500;
        letter-spacing: normal;
        text-transform: none;
      }
    }
    .plus {
      @include font-size(29);
      font-family: $bodyFontFamily;
      font-weight: 100;
      color: lighten($text-color-light-grey, 15%);
      position: relative;
      bottom: -3px;
      padding: 0 2px;
    }
    @include breakpoint(max, 600px) {
      padding: 4px 0px 7px 0px;
      margin-right: 0;
      border: none;
    }
  }
  .contact-us {
    .button {
      @include font-size(14);
      padding: 5px 20px 6px;
      background-color: $color-lifeboat-yellow;
      &:hover {
        background-color: $color-lifeboat-blue;
      }
    }
    @include breakpoint(max, 600px) {
      display: block;
      .button {
        display: inline-block;
      }
    }
  }
  #footer-second {
    line-height: 1.5em;
    margin: 0 0 30px;
  }
  #footer-credits {
    line-height: 1.5em;
    .text {
      color: lighten($text-color-light-grey, 20%);
      @include font-size(14);
      a {
        color: $text-color-light-grey;
        &:hover {
          color: $color-lifeboat-blue;
        }
      }
    }
    #ds-logo-credit {
      display: inline-block;
      width: 110px;
      height: 21px;
      margin: -5px 3px 0 3px;
      text-indent: -1000em;
      vertical-align: middle;
      @include background(image-url("ds-logo-credit@2x.png") 0 0 no-repeat);
      @include background-size(110px auto);
      &:hover {
        background-position: 0 -25px;
      }
    }
  }
}


/* --------------------------------------------------
   Homepage
-----------------------------------------------------
*/

/* Home Slider */
#home-slider {
  width: 100%;
  height: $home-slider-lg-height;
  position: relative;
  overflow: hidden;
  z-index: 0;
  .slider {
    .slide {
      height: 500px;
      background-position: 50% 30%;
      background-repeat: no-repeat;
      @include background-size(100%);
      @media screen and (max-width: 768px) {
        @include background-size(768px auto);
      }
      text-align: center;
      &:hover {
        //@include opacity(.5);
      }
      .slide-link {
        display: block;
        height: 100%;
        .button {
          margin-top: ($home-slider-lg-height - $home-slider-btn-offset);
          background-color: transparent;
          //@include background(image-url("home-slider-button-arrow-right-yellow.png") no-repeat 100% 50%, image-url("home-slider-button-flap-left-yellow.png") no-repeat 0 50%);
          //@include background-size(12px 100%);
          @include background(image-url("home-slider-button-arrow-right.png") no-repeat, image-url("home-slider-button-flap-left.png") no-repeat);
          @include background-size(12px 200%);
          background-position: 100% 0%, 0% 0%;
          padding: 0 12px;
          font-family: $headerFontFamily;
          //letter-spacing: $letter-spacing-label;
          @include font-size(22);
          color: $text-color-white;
          @include text-shadow(rgba($text-color-black, 0.2) 0 1px 0);
          //@include opacity(0.95);
          .button-inner {
            background-color: $color-lifeboat-yellow;
            display: inline-block;
            padding: 8px 15px;
          }
          .icon {
            display: inline-block;
            width: 86px;
            height: 86px;
            //@include background($white image-url("icon-flag.svg") no-repeat 65% 60%);
            //@include background-size(auto 49px);
            background-color: $white;
            color: $color-lifeboat-yellow;
            text-shadow: none;
            @include font-size(50);
            line-height: 0;
            border: 6px solid $color-lifeboat-yellow;
            @include border-radius(100px);
            //@include box-shadow(rgba($black, .1) 0px 0px 8px);
            @include box-shadow(rgba($black, .3) 0px 0px 8px);
            padding: 15px 10px;
            margin: -34px 12px;
            vertical-align: middle;
          }
          @include breakpoint(desktop-down) {
            margin-top: ($home-slider-med-height - $home-slider-btn-offset);
          }
          @include breakpoint(phone) {
            margin-top: ($home-slider-sm-height - $home-slider-btn-offset - 30px);
            padding: 0 0 0 21px;
            @include background-size(21px 200%);
            @include font-size(20);
            &.blue {
              @include background-size(21px 200% !important);
            }
          }
          @include breakpoint(between, $break-tablet, 860px) {
            @include font-size(20);
          }
          @include breakpoint(tablet-down) {
            text-align: right;
            margin-right: -10px;
            padding: 0 0 0 18px;
            float: right;
            width: 50%;
            @include background-size(18px 200%);
            &.blue {
              @include background-size(18px 200% !important);
            }
            .button-inner {
              display: block;
            }
            .icon {
              display: none;
            }
            .button-text {
              display: inline;
              &:first-child:after {
                content: ": ";
              }
            }
          }
        }
        .button.blue {
          @include background(image-url("home-slider-button-arrow-right.png") no-repeat, image-url("home-slider-button-flap-left.png") no-repeat);
          @include background-size(12px 200%);
          background-position: 100% 100%, 0% 100%;
          .button-inner {
            background-color: $color-lifeboat-blue;
          }
          .icon {
            border-color: $color-lifeboat-blue;
            color: $color-lifeboat-blue;
          }
        }
        &:hover {
          .button {
            background-position: 100% 100%, 0% 100%;
            @include text-shadow(rgba($text-color-black, 0.3) 0 1px 0);
            .button-inner {
              background-color: $color-lifeboat-blue;
            }
            .icon {
              border-color: $color-lifeboat-blue;
              color: $color-lifeboat-blue;
            }
          }
          .button.blue {
            background-position: 100% 0%, 0% 0%;
            .button-inner {
              background-color: $color-lifeboat-yellow;
            }
            .icon {
              border-color: $color-lifeboat-yellow;
              color: $color-lifeboat-yellow;
            }
          }
        }
      }
    }
  }
  @include breakpoint(desktop-down) {
    &, .slider .slide {
      height: $home-slider-med-height;
    }
  }
  @include breakpoint(phone) {
    &, .slider .slide {
      height: $home-slider-sm-height;
    }
  }
}


/* Home Positioning Statement Area */
#home-intro {
  margin: {
    top: 15px;
    bottom: 35px;
  }
  @include breakpoint(tablet-down) {
    margin-top: 90px;
  }
  .subheader {
    font-weight: normal;
    text-align: center;
    color: $black;
    @include font-size(23);
    @include breakpoint(tablet) {
      @include font-size(20);
    }
    @include breakpoint(tablet-down) {
      @include font-size(22);
    }
    @include breakpoint(phone) {
      @include font-size(18);
    }
  }
  .home-buttons {
    text-align: center;
    .button {
      margin-right: 45px;
      padding: 7px 20px 5px;
      @include breakpoint(tablet-down) {
        display: inline-block;
        margin: 5px 45px 25px 0;
        //padding: 8px 20px 6px;
        //width: 50%;
      }
      @include breakpoint(phone) {
        margin: 5px auto 25px;
      }
    }
    .share {
      background-color: $background-light-grey;
      padding: 5px 20px 5px;
      .share-label {
        @include breakpoint(phone-sm) {
          span {
            display: none;
          }
        }
      }
      .share-icons {
        .icon {
          border-color: $background-light-grey;
          background: $color-lifeboat-blue;
          line-height: 1em;
          height: 34px;
          width: 35px;
          padding: 8px 0px;
          margin: -11px 5px -13px 0;
          &:hover {
            background: $color-lifeboat-yellow;
            border-color: $white;
          }
        }
      }
    }
  }
}

/* Sidebar and content label titles */
#main, #sidebar {
  .label-title {
    color: $text-color-black;
    font-family: $bodyFontFamily;
    @include font-size(12);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-label;
  }
}

.home {
  .label-title {
    padding-bottom: 4px;
    border-bottom: 1px solid #DEDEDE;
    @include breakpoint(tablet-down) {
      margin-top: 0;
    }
  }
}


/* --------------------------------------------------
   Shared Inside Styles
-----------------------------------------------------
*/

article {
  header {
    position: relative;
  }
}

#img-vid {
  max-height: 325px;
  overflow: hidden;
  margin-bottom: 25px;
  img {
    display: block;
  }
}

#content, .content {
  h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: $letter-spacing-title;
    //line-height: $line-height-title;
  }
}
#content {
  img {
    margin-bottom: 1em;
  }
  p.intro {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  ul.intro {
    li {
      @include font-size(18);
      margin-bottom: 10px;
      padding-left: 36px;
      list-style: none;
      @include background(image-url("icon-flag-blue.svg") 0 5px no-repeat);
      @include background-size(25px auto);
    }
  }
  .pull-quote {
    @include font-size(28);
    line-height: 1.35em;
    color: $color-lifeboat-blue;
    border: 1px solid #{$border-light-grey};
    border-width: 1px 0;
    font-weight: 100;
    font-style: italic;
    //width: percentage($main-col-width / $internal-content-col-width);
    margin: {
      bottom: 20px;
      top: 20px;
    }
    padding: 15px 0;
    @include breakpoint(tablet-up) {
      @include font-size(32);
      margin: {
        bottom: 35px;
        top: 35px;
      }
      padding: 20px 0;
      width: percentage($main-col-width / $internal-content-col-width);
    }
  }
  figure {
    @include breakpoint(tablet-up) {
      width: percentage($main-col-width / $internal-content-col-width);
    }
    img {
      width: 100%;
    }
    figcaption {
      font-weight: normal;
      font-style: italic;
      padding: 0 0 1em;
      border-bottom: 1px solid #{$border-light-grey};
      /*@include breakpoint(tablet-up) {
        width: percentage($internal-side-col-width / $main-col-width);
      }*/
      @include font-size(13);
      line-height: 1.6em;
      margin-bottom: 1.6em;
    }
  }
  @include breakpoint(tablet-down) {
    .button {
      display: inline-block;
    }
    ul {
      padding-left: 1.1em;
    }
  }
}

.single .type-post {
  .pull-quote, figure {
    @include breakpoint(tablet-up) {
      margin-left: ((($internal-side-col-width + 40px) / $internal-content-col-width) * -100%);
    }
  }
  .share {
    padding: 4px 10px;
    margin: 7px auto 20px;
    width: 100%;
    @include breakpoint(tablet-up) {
      margin: 7px -8% 0;
      width: 116%;
    }
    @include breakpoint(tablet-down) {
      .share-label {
        display: inline-block !important;
      }
    }
  }
}
.page .type-page {
  .pull-quote, figure {
    @include breakpoint(tablet-up) {
      margin-right: ((($internal-side-col-width + 40px) / $internal-content-col-width) * -100%);
    }
  }
  .share {
    padding: 4px 10px;
    margin: 7px auto 20px;
    width: 100%;
    @include breakpoint(tablet-up) {
      margin: 7px 0 0 -16%;
      width: 116%;
    }
    @include breakpoint(tablet-down) {
      .share-label {
        display: inline-block !important;
      }
    }
  }
}

/* Bottom Tabs */
#bottom-tabs {
  margin: 42px 0 0;
}

#refs {
  color: $text-color-med-grey;
  border-top: 1px solid #{$border-light-grey};
  padding: 20px 0 10px;
  margin: 50px 0 0;
  position: relative;
  .label-title {
    font-weight: 500;
    @include font-size(11);
    color: $text-color-black;
    border-bottom: none;
    margin: -10px 0 12px;
  }
  a {
    color: $color-lifeboat-blue;
    &:hover {
      text-decoration: underline;
    }
  }
  .top-link {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 0px;
    text-transform: uppercase;
    @include font-size(11);
    //letter-spacing: $letter-spacing-label;
    //color: $text-color-light-grey;
    color: lighten($text-color-light-grey, 10%);
    .icon {
      @include font-size(10);
      color: lighten($text-color-light-grey, 20%);
    }
    &:hover {
      color: $color-lifeboat-blue;
      text-decoration: none;
      .icon {
        color: $color-lifeboat-orange;
      }
    }
  }
  ol, ul, p, li, div, dt, dl, dd {
    @include font-size(13);
  }
  li {
    margin-bottom: 10px;
  }
  @include breakpoint(tablet-down) {
    margin-top: 60px 0 0;
  }
}


/* --------------------------------------------------
   Overview Page Template
-----------------------------------------------------
*/

.template-overview {
  #content {
    padding-bottom: 10px;
    margin-bottom: 15px;
    &.with-content {
      border-bottom: 1px solid #{$border-light-grey};
    }
  }
  #overview-grid {
    margin-top: 15px;
  }
}

#overview-grid {
  li {
    padding: {
      bottom: 20px;
    }
    a {
      display: block;
      padding-left: 80px;
      line-height: 1.5em;
      color: $text-color;
      span {
        color: $color-lifeboat-orange;
        padding: 1px;
      }
      p, li, div, dl, dt, dd {
        @include font-size(14);
      }
      &:hover {
        color: lighten($text-color, 20%);
        h2 {
          color: $color-lifeboat-orange;
        }
        span {
          //color: $text-color-white;
          //background: $color-lifeboat-yellow;
          text-decoration: underline;
        }
      }
    }
    background: {
      image: image-url("icon-flag.svg");
      repeat: no-repeat;
      position: 8px 2px;
    }
    @include breakpoint(tablet-up) {
      &.odd {
        padding-right: 20px;
      }
      &.even {
        padding-left: 28px;
        background-position: 28px 2px;
      }
    }
    h2 {
      text-transform: uppercase;
      letter-spacing: $letter-spacing-title;
      @include font-size(34);
      margin: 0 0 5px;
    }
  }
}


/* --------------------------------------------------
   Landing Page Template
-----------------------------------------------------
*/

.template-landing {
  header {
    &.with-banner-title {
      margin-bottom: 42px;
    }
    .banner-title {
      position: absolute;
      line-height: $line-height-title;
      bottom: 20px;
      right: -12px;
      @include font-size(60);
      //letter-spacing: $letter-spacing-title;
      padding: 0 0 0 30px;
      margin: 0;
      color: $text-color-white;
      text-align: right;
      text-transform: uppercase;
      background: {
        image: image-url("banner-title-flag-left@2x.png");
        repeat: no-repeat;
        position: 0 50%;
      }
      @include background-size(30px 100%);
      @include box-shadow(rgba($black, .2) 0px 4px 8px);
      @include text-shadow(rgba($text-color-black, 0.2) 0 -1px 0);
      .title-inner {
        display: block;
        background-color: $color-lifeboat-blue;
        @include background(linear-gradient(top left, $color-lifeboat-blue, lighten($color-lifeboat-blue, 8%)));
        padding: 14px 35px 14px 18px;
      }
      .corner-flap {
        display: block;
        position: absolute;
        right: 0px;
        bottom: -11px;
        width: 12px;
        height: 11px;
        @include background(image-url("banner-title-flap-right@2x.png") no-repeat);
        @include background-size(100%);
        /*background: {
          image: image-url("banner-title-flap-right@2x.png");
          repeat: no-repeat;
        }*/
      }
      @include breakpoint(max, $break-tablet) {
        @include font-size(46);
        bottom: 15px;
      }
      @include breakpoint(phone) {
        @include font-size(36);
        bottom: 11px;
        right: -8px;
        padding-left: 15px;
        @include background-size(15px 100%);
        .title-inner {
          padding: 7px 14px 7px 8px;
        }
        .corner-flap {
          bottom: -7px;
          width: 8px;
          height: 7px;
        }
      }
    }
  }
  #content {
    @include breakpoint(tablet-up) {
      &.nine {
        padding-right: percentage(30px / $main-col-width);
      }
    }
    .subtitle {
      @include font-size(32);
    }
  }
  #landing-action {
    position: relative;
    margin: 10px 0 15px;
    @include breakpoint(tablet-up) {
      margin: 0;
      &.nine {
        padding-left: percentage(30px / $main-col-width);
      }
      .landing-action-arrow {
        @include cssTriangle(24px, $color-lifeboat-yellow, right);
        position: absolute;
        left: -17px;
        top: 25px;
      }
    }
    .landing-action-content {
      background-color: $color-lifeboat-yellow;
      padding: 25px;
      h2, h3, h4, h5 {
        margin: 0 0 15px;
        color: $text-color-white;
        letter-spacing: $letter-spacing-title;
        line-height: $line-height-title;
        text-transform: uppercase;
      }
      p {
        @include font-size(16);
        line-height: 1.2em;
        //font-weight: 500;
        margin-bottom: 10px;
        &.privacy {
          text-align: center;
        }
        small {
          font-size: percentage(12px / 16px);
          color: $text-color-white;
          a {
            text-decoration: underline;
            color: $text-color-white;
            &:hover {
              text-decoration: none;
              color: $text-color-white;
            }
          }
        }
      }
      form {
        p {
          @include font-size(15);
        }
        .field-checkbox p {
          @include font-size(14);
        }
        margin-bottom: 5px;
        .button.action {
          width: 100%;
          margin-bottom: 5px;
          @include breakpoint(tablet) {
            @include font-size(20);
          }
          @include breakpoint(max, 350px) {
            @include font-size(22);
          }
        }
      }
      .tabs {
        height: 25px;
        dd {
          &, &.active {
            margin: -7px -2% 0;
            padding: 0 3% 13px;
            a, a:hover, a:focus {
              color: $black;
            }
          }
          &.active {
            @include background(image-url("tab-arrow-white@2x.png") no-repeat 50% 100%);
            @include background-size(100% 13px);
            a {
              background-color: $white;
            }
          }
          a {
            @include font-size(10);
            height: 37px;
            line-height: 40px;
            &:hover {
              color: $text-color-white;
            }
          }
        }
      }
      .tabs-content {
        clear: both;
      }
      .fb-like-box {
        background: $white;
      }
    }
  }
}

/* Error Messages on Forms */
form {
  .errMsg {
    display: none;
  }
  .error input, input.error, .error textarea, textarea.error {
    background-color: rgba($white, .7);
    border-width: 2px;
  }
}

/* Become an Insider */
.page-id-166 {
  #img-vid {
    //margin-top: -40px;
    margin-top: -26px;
    //z-index: 0;
  }
  #content {
    ul.intro {
      margin: 20px 0 35px;
    }
    hr {
      margin-bottom: 30px;
    }
    #quote-slider {
      .slide {
        height: auto;
        blockquote {
          padding: 0;
          border: none;
          p {
            @include font-size(21);
            font-style: italic;
            font-weight: 100;
            line-height: 1.2em;
          }
          p.attribute {
            @include font-size(15);
            font-weight: 500;
          }
        }
      }
    }
    .orbit-wrapper {
      .timer {
        display: none;
      }
    }
  }
}


/* --------------------------------------------------
   Getting Started Guide
-----------------------------------------------------
*/

.getting-started-guide {
  .type-page {
    background: $white;
    padding: 20px;
    h1.page-title {
      //@include font-size(96);
    }
    .subtitle {
      @include font-size(32);
      margin-bottom: 20px;
    }
    blockquote {
      padding: 0;
      border: none;
      padding-top: 20px;
      border-top: 1px solid #{$border-light-grey};
      p {
        @include font-size(18);
        font-style: italic;
        font-weight: 100;
      }
      .attribute {
        @include font-size(16);
        font-weight: 500;
      }
      @include breakpoint(tablet-down) {
        padding-bottom: 5px;
        border-bottom: 1px solid #{$border-light-grey};
      }
    }
    #practice-thumbs-grid {
      margin-top: 25px;
      border-top: 1px solid #{$border-light-grey};
      .label-title {
        margin: 12px 0;
        @include font-size(11);
      }
      .practice-thumb {
        padding-bottom: 16px;
        a {
          position: relative;
          display: block;
          h2 {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            padding: 10px;
            overflow: hidden;
            background: rgba($color-lifeboat-yellow, .95);
            color: $text-color-white;
            text-transform: uppercase;
            line-height: $line-height-title;
            letter-spacing: $letter-spacing-title;
            @include text-shadow(rgba($text-color-black, 0.2) 0 -1px 0);
            @include transition(opacity .2s);
            @include opacity(0);
            @include font-size(30);
            @include breakpoint(tablet) {
              @include font-size(24);
              padding: 6px;
            }
            @include breakpoint(phone-sm) {
              @include font-size(18);
              padding: 4px;
            }
          }
          &:hover h2 {
            @include opacity(1);
          }
          img {
            display: block;
          }
        }
      }
    }
  }
  .practice-bottom {
    height: 60px;
    background: {
      image: image-url("triangle-bottom-white.png");
      repeat: no-repeat;
      position: top left;
    }
    @include background-size(100% 100%);
    @include breakpoint(phone) {
      height: 40px;
    }
    @include breakpoint(phone-sm) {
      height: 30px;
    }
  }
  #lifeboat-practices {
    .practice {
      position: relative;
      background: $white;
      .practice-top {
        position: absolute;
        height: 60px;
        width: 100%;
        background: {
          image: image-url("triangle-top-grey.png");
          repeat: no-repeat;
          position: top left;
        }
        @include background-size(100% 100%);
        @include breakpoint(phone) {
          height: 40px;
        }
        @include breakpoint(phone-sm) {
          height: 30px;
        }
        .practice-num {
          display: block;
          text-align: center;
          position: relative;
          top: 40px;
          @include breakpoint(phone) {
            top: 20px;
          }
          @include breakpoint(phone-sm) {
            top: 10px;
          }
          span {
            background: $color-lifeboat-blue;
            padding: 9px 0px;
            @include font-size(20);
            font-weight: 900;
            border: 2px solid $background-page-grey;
            color: $text-color-white;
            width: 40px;
            height: 40px;
            display: inline-block;
            @include border-radius(100px);
          }
        }
      }
      .practice-banner {
        img {
          display: block;
        }
      }
      .practice-content {
        padding: 20px 20px 20px;
        h2, h3, h4, h5 {
          text-align: center;
          background: {
            image: image-url("line-repeat-light-grey.png");
            repeat: repeat-x;
            position: 0 50%;
          }
          @include background-size(1px 1px);
          span {
            background: $white;
            padding: 0 12px;
          }
        }
        .practice-title {
          margin: 0 0 25px;
          @include font-size(60);
          @include breakpoint(phone) {
            @include font-size(50);
            background: none;
            margin-bottom: 15px;
            span {
              background: transparent;
              padding: 0;
            }
          }
        }
        .content-inner {
          @include breakpoint(min, 850px) {
            @include column-count(2);
            @include column-gap(40px);
          }
          ul {
            padding-left: 1.1em;
          }
        }
      }
    }
  }
}


/* --------------------------------------------------
   Friend Fact Ecards
-----------------------------------------------------
*/

.friend-fact-ecards {
  .ecard {
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-light-grey;
    @include breakpoint(tablet-down) {
      border-bottom: 1px solid $border-dark-grey;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
    .ecard-card {
      position: relative;
      margin-right: 4px;
      @include breakpoint(tablet-up) {
        margin-right: 23px;
      }
      .ecard-link {
        .ecard-corner-badge {
          display: block;
          position: absolute;
          width: 216px;
          height: 128px;
          top: -11px;
          right: -14px;
          @include background(transparent image-url("ecard-corner-badge@2x.png") no-repeat);
          @include background-size(100%);
        }
        &:hover .ecard-corner-badge {
          background-position: 0 -130px;
        }
        .ecard-image {
          padding: 20px;
          @include background(image-url("paper-texture-brown.jpg"));
          @include background-size(200px);
          @include box-shadow(rgba($black, .15) 0px 0px 6px);
          img {
            @include box-shadow(rgba($black, .35) 0px 0px 4px);
          }
        }
      }
      .ecard-bottom {
        height: 24px;
        @include background(image-url("ecard-shadow@2x.png") no-repeat);
        @include background-size(100%);
      }
    }
    .ecard-content {
      .number-title {
        font-family: $bodyFontFamily;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-label;
        @include font-size(11);
        color: $text-color-black;
        border-bottom: 1px solid $border-light-grey;
        margin: 1px 0 15px;
        padding-bottom: 3px;
      }
      .ecard-title {
        color: $color-lifeboat-orange;
        @include font-size(60);
        line-height: $line-height-title;
        margin: 0 0 7px;
      }
      .ecard-excerpt {
        p, ul {
          margin-bottom: 12px;
        }
      }
      .ecard-subtitle {
        font-family: $bodyFontFamily;
        color: $color-lifeboat-blue;
        font-weight: 100;
        font-style: italic;
        @include font-size(17);
        line-height: 1.4em;
        border-top: 1px solid lighten($border-light-grey, 2%);
        margin: 0;
        padding: 12px 0 10px;
      }
    }
  }
}


/* --------------------------------------------------
   Custom Pages
-----------------------------------------------------
*/

/* Crew Page */
#crew {
  .crew-member {
    margin-bottom: 15px;
  }
}


/* --------------------------------------------------
   Blog
-----------------------------------------------------
*/

/* Blog Post Teaser */
.post-teaser {
  a.post-link {
    display: block;
    @include clearfix();
    &:hover {
      .post-content {
        h2 {
          color: $color-lifeboat-orange;
        }
        .subtitle {
          color: darken($text-color-dark-grey, 20%);
        }
        .meta {
          color: darken($text-color-light-grey, 20%)
        }
      }
    }
  }
  .post-image {
    img {
      display: block;
    }
    float: left;
    width: percentage(400px / $main-col-width);
    margin-right: percentage(20px / $main-col-width);
  }
  .post-content {
    h2 {
      margin-top: 0;
      color: $color-lifeboat-yellow;
      @include font-size(62);
      text-transform: uppercase;
      letter-spacing: $letter-spacing-title;
      line-height: $line-height-title;
      @include breakpoint(phone) {
        @include font-size(54);
      }
    }
    .subtitle {
      color: $text-color-dark-grey;
      font-weight: normal;
      margin-top: 0;
      @include font-size(24);
    }
    .meta {
      font-style: italic;
      color: $text-color-light-grey;
      font-weight: 500;
      time, div {
        @include font-size(13);
        display: inline-block;
        padding: 8px 10px 8px 8px;
        border-right: 1px solid #{$border-light-grey};
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
          border-right: none;
        }
      }
      small {
        font-size: percentage(10px/14px);
        text-transform: uppercase;
        letter-spacing: $letter-spacing-label;
        font-style: normal;
      }
    }
  }
  &.with-image {
    a.post-link {
      .post-content {
        float: left;
        width: percentage(340px / $main-col-width);
        h2 {
          margin-top: 15px;
          @include breakpoint(desktop-up) {
            margin: -4px 0 10px;
          }
        }
      }
    }
  }
  @include breakpoint(desktop-down) {
    .post-image {
      float: none;
      width: 100%;
      margin-right: 0;
    }
    .post-content, &.with-image a.post-link .post-content {
      float: none;
      width: 100%;
    }
    &.with-image a.post-link .post-content {
      text-align: center;
    }
    .button {
      display: inline-block;
    }
  }
}

/* Homepage Featured Blog Post */
.home .post-teaser {
  .button#more-from-blog {
  }
  .post-image {
    img {
      margin-bottom: 0 !important;
    }
  }
  .post-content {
    h2 {
      @include font-size(72);
    }
  }
}

/* Blog Index Page */
.blog {
  h1.page-title {
    margin-bottom: 35px;
  }
  #content {
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #{$border-light-grey};
  }
}

.inside {
  .post-teaser {
    padding-bottom: 37px;
    margin-bottom: 45px;
    border-bottom: 1px solid #{$border-light-grey};
  }
}

/* Single Blog Posts */
.single .type-post {
  .five.columns {
    @include breakpoint(tablet-up) {
      padding-right: 30px;
    }
  }
  .subtitle, time, .credits {
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid #{$border-light-grey};
  }
  time {
    display: block;
    @include font-size(15);
    font-style: italic;
    line-height: 1.6em;
  }
  .credits {
    @include font-size(14);
    line-height: 1.1em;
    font-style: italic;
    padding-bottom: 15px;
    .by {
      margin-bottom: 5px;
      small {
        color: $text-color-med-grey;
        font-size: percentage(10px/14px);
        text-transform: uppercase;
        letter-spacing: $letter-spacing-label;
        font-style: normal;
      }
    }
    a {
      color: $text-color;
      &:hover {
        color: $text-color-med-grey;
        text-decoration: underline;
      }
    }
  }
  footer {
    margin-top: 20px;
    .categories {
      padding: 15px 0;
      border: 1px solid #{$border-light-grey};
      border-width: 1px 0;
      @include clearfix();
      .label-title {
        float: left;
        font-weight: 500;
        margin: 7px 10px 0 0;
      }
      .post-categories {
        float: left;
        margin: 0;
        li {
          display: inline-block;
          margin-right: 8px;
          a {
            color: $text-color-white;
            font-weight: 500;
            @include font-size(10);
            letter-spacing: $letter-spacing-label;
            @include border-radius(10px);
            text-transform: uppercase;
            background-color: #D9D9D9;
            padding: 6px 10px 5px;
            &:hover {
              background-color: $color-lifeboat-blue;
            }
          }
        }
      }
    }
    #share-bottom {
      padding: 50px 0 35px;
      h3 {
        @include font-size(22);
        color: $text-color-black;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
      }
      .share-bottom-buttons {
        text-align: center;
        .button {
          font-family: $headerFontFamily;
          @include font-size(28);
          padding: 8px 40px;
          margin: 0 12px 35px;
          @include text-shadow(rgba($text-color-black, 0.2) 0 -1px 0);
          display: inline-block;
          .icon {
            display: inline-block;
            margin: -37px 5px -29px 0;
            @include font-size(38);
            line-height: 0em;
            height: 70px;
            width: 70px;
            padding: 11px;
            vertical-align: middle;
            border: 5px solid;
            background-color: $white;
            @include border-radius(100px);
            @include box-shadow(rgba($black, .2) 0px 0px 8px);
            @include text-shadow(none);
          }
          .button-text {
            display: inline-block;
            
          }
          &:hover {
            background-color: $color-lifeboat-yellow;
            .icon {
              color: $color-lifeboat-yellow;
              border-color: $color-lifeboat-yellow;
            }
          }
          @include breakpoint(phone) {
            @include font-size(26);
            padding: 8px 34px;
            .icon {
              @include font-size(34);
              //margin: -37px 5px -29px 0;
              height: 66px;
              width: 66px;
              padding: 11px;
            }
          }
        }
        .btn-facebook {
          background-color: $color-facebook;
          .icon {
            color: $color-facebook;
            border-color: $color-facebook;
          }
        }
        .btn-twitter {
          background-color: $color-twitter;
          .icon {
            color: $color-twitter;
            border-color: $color-twitter;
          }
        }
      }
    }
  }
}


/* Disqus Comments */
#comments {
  border-top: 1px solid #{$border-dark-grey};
  h2 {
    text-transform: uppercase;
    letter-spacing: $letter-spacing-title;
    margin: 5px 0 35px;
  }
  .disqus-comments {
    background-color: $white;
    padding: 40px;
    position: relative;
    &:before {
      position: absolute;
      top: -48px;
      left: 90px;
      @include cssTriangle(24px, $white, bottom);
    }
  }
}


/* --------------------------------------------------
   Pages
-----------------------------------------------------
*/

.page .type-page {
  .five.columns {
    @include breakpoint(tablet-up) {
      padding-left: 30px;
    }
  }
}


/* --------------------------------------------------
   Sidebar + Widgets
-----------------------------------------------------
*/

#sidebar {
  @include breakpoint(tablet-down) {
    margin-top: 30px;
    padding-top: 45px;
    border-top: 1px solid #{$border-dark-grey};
  }
  .widget {
    margin-bottom: 45px;
    text-align: center;
    background-position: 50% 0;
    background-repeat: no-repeat;
    &:last-child {
      margin-bottom: 0;
    }
    .widget-link {
      display: block;
      height: 100%;
      padding: 5px 5px 8px;
      .button {
        display: block;
        font-family: $headerFontFamily;
        margin: 0 -15px;
        padding: 6px 25px 7px;
        @include font-size(26);
        letter-spacing: 0;
        @include text-shadow(rgba($text-color-black, 0.15) 0 -1px 0);
        @include background(image-url("button-flap-right.png") no-repeat 100% 50%, image-url("button-flap-left.png") no-repeat 0 50%);
        background-color: $color-lifeboat-yellow;
        @include background-size(auto 100%);
        .icon {
          padding-left: 5px;
          vertical-align: middle;
          line-height: 0;
        }
      }
      &:hover .button {
        background-color: $color-lifeboat-blue;
      }
      .button.orange {
        background-color: $color-lifeboat-orange;
      }
      &:hover .button.orange {
        background-color: $color-lifeboat-blue;
      }
      .button.blue {
        background-color: $color-lifeboat-blue;
      }
      &:hover .button.blue {
        background-color: $color-lifeboat-yellow;
      }
    }
    .widget-title {
      color: $color-lifeboat-blue;
      @include font-size(18);
      font-style: italic;
      line-height: 1.1em;
      font-family: $bodyFontFamily;
      font-weight: normal;
      margin: 10px 0;
    }
    p, .widget-text {
      font-style: normal;
      font-weight: normal;
      color: $text-color;
      @include font-size(15);
      @include text-shadow(rgba($white, 1) 0 0 5px);
      &.on-dark {
        color: $text-color-white;
        @include text-shadow(rgba($black, 0.9) 0 0 5px);
      }
    }
    hr {
      border-color: $border-light-grey;
      width: 45%;
      margin: 8px auto;
    }
    @include breakpoint(between, $break-tablet, 1070px) {
      padding-bottom: 0;
      .widget-title {
        @include font-size(16);
      }
      p {
        @include font-size(12);
      }
      .widget-link {
        .button {
          //margin-bottom: -10px;
          padding: 6px 15px 7px;
          @include font-size(20);
          @include background-size(10px 100%);
        }
      }
    }
  }
  #widget-text-2 { // Become an Insider
    border-top: 3px solid $color-lifeboat-orange;
    background: {
      color: $white;
      image: image-url("sidebar-tim-alia@2x.png");
      position: 30% 100%;
    }
    @include background-size(130%);
    .widget-title {
      color: $color-lifeboat-orange;
    }
    .button {
      margin-top: 107px;
    }
    @include breakpoint(between, $break-tablet, 900px) {
      @include background-size(212px auto);
      .button {
        margin-top: 90px;
      }
    }
    @include breakpoint(tablet-down) {
      @include background-size(360px auto);
      background-position: 50% 100%;
      .button {
        margin-top: 155px;
      }
    }
    @include breakpoint(phone-sm) {
      background-position: 30% 100%;
    }
  }
  #widget-text-3 { // Share the Manifesto
    background: {
      image: image-url("sidebar-manifesto@2x.jpg");
    }
    @include background-size(120%);
    p {
      margin: 85px 0 5px;
    }
  }
  #widget-text-4 { // Watch the Video
    background: {
      image: image-url("sidebar-whats-lifeboat-vid@2x.jpg");
      position: 50% 50%;
    }
    @include background-size(150%);
    p {
      font-weight: 500;
      @include font-size(17);
      margin: 85px 0 5px;
    }
  }
  #widget-text-5 { // Friendship Report
    background: {
      image: image-url("sidebar-friendship-report@2x.png");
    }
    @include background-size(100%);
    p {
      margin: 85px 0 5px;
    }
    @include breakpoint(between, $break-phone-sm, $break-tablet) {
      @include background-size(300px auto);
    }
  }
}

.home #sidebar {
  @include breakpoint(tablet-down) {
    margin-top: 50px;
  }
}

/* Hide Sidebar Widgets on Landing Pages (For now) */
.page-template-pagetemplate-landing-php {
  #sidebar {
    .widget {
      display: none;
    }
  }
}

/* But show the Become an Insider widget on the Friendship Report */
.page-id-1798 {
  #sidebar {
    .widget#widget-text-2 {
      display: block;
    }
  }
}