/*
 * CSS for Lifeboat Website
 *
 * jordan@digitalsparks.com
 * February 2013
 *
 */

// Your custom settings file to override Foundation defaults
@import "settings";

// Import all of Foundation. Comment out this import if you are customizing you imports below
@import "foundation";

// Import all of Compass
@import "compass";

// Or import custom Compass components
// @import "compass/typography/links/link-colors";

// Custom Imports
@import "variables";
@import "type";


/* --------------------------------------------------
   Global
-----------------------------------------------------
*/

body {
  background-color: $background-grey;
}

/* Layout & Structure */
#main-container {
  padding: {
    bottom: 85px;
  }
  border-bottom: 1px solid #7F7F7F;
}
.inside #main-container {
  padding-top: 156px;
}

.inside #sidebar {
 //padding-top: percentage(186px / $left-col-width);
 margin-top: 155px;
}

#footer-container {
  margin-top: 3px;
  padding: 35px 0 50px;
  border-top: 1px solid #7F7F7F;
}

/* Common Elements */
.subheader {
  font-family: $bodyFontFamily;
  text-transform: none !important;
  letter-spacing: normal !important;
  color: lighten($lifeboat-blue, 10%);
}
.subtitle {
  //@extend .subheader;
  font-family: $bodyFontFamily;
  @include font-size(32);
  font-weight: 100;
  color: $lifeboat-orange;
  margin-top: 0;
  text-transform: none !important;
  letter-spacing: normal !important;
}

h1.page-title {
  //font-size: ms(7); // Should be 90px
  @include font-size(90);
  text-transform: uppercase;
  letter-spacing: $letter-spacing-title;
  margin: 0 0 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #{$border-light};
  line-height: .85em;
}

/* Clearfix */
// So I can add a class if desired; better to use @include clearfix(); SCSS mixin on elements if possible
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

// Alternate Method
/*.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
 
.clearfix {
   display: inline-block;
}
 
html[xmlns] .clearfix {
   display: block;
}
 
* html .clearfix {
   height: 1%;
   overflow: visible;
}*/



/* --------------------------------------------------
   Navigation
-----------------------------------------------------
*/

/* LOGO */

/* Inside Pages / General */
#header .nav.container {
  position: absolute;
  width: 100%;
  height: 97px;
  background: {
    image: image-url("header-bg@2x.png");
    repeat: repeat-x;
  }
  @include background-size(100px 97px);
}
#logo {
  margin: {
    left: percentage($logo-offset-left / $left-col-width);
    top: percentage($logo-offset-top-inside / $left-col-width);
  }
  width: percentage($logo-width / $left-col-width);
  z-index: 10;
  @media screen and (max-width: ($break-tablet - 1px)) {
    width: 217px;
    margin: {
      left: -17px;
      top: -17px;
    }
  }
}

/* Home Page */
.home {
  #header .nav.container {
    height: 59px;
    top: 441px;
    background: rgba(#000, .5);
  }
  
  #logo {
    margin-top: percentage($logo-offset-top-home / $left-col-width);
  }
}

/* PRIMARY NAV */
/* Inside Pages / General */
nav#primary {
  #menu-primary-nav {
    //margin: 0 0 0 ((15px / $main-col-width) * -100%);
    margin: 0 0 0 -15px;
    li {
      float: left;
      list-style: none;
      line-height: 1.55em;
      margin-right: percentage(4px / $main-col-width);
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        color: #fff;
        //height: 69px;
        padding: 42px 15px 30px;
        @media screen and (max-width: $break-tablet-middle) {
          padding: {
            top: 63px;
            // 15px 30px;
          }
        }
        &:hover {
          background: $lifeboat-blue;
        }
        small {
          display: block;
          opacity: .8;
          font-size: 15px;
          font-style: italic;
          font-weight: bold;
        }
        div {
          font-family: $headerFontFamily;
          font-weight: bold;
          font-size: 30px;
          text-transform: uppercase;
        }
      }
    }
  }
}
.home nav#primary #menu-primary-nav li a {
  padding-top: 7px;
}


/* SECONDARY NAV */
nav#secondary {
  ul {
    //@include clearfix();
    margin: 0;
    li {
      list-style: none;
      float: left;
      padding: 0 30px 0 0;
      margin: -10px 0 22px;
      border-bottom: 1px solid #{$border-light};
      a {
        display: block;
        color: $lifeboat-orange;
        @include font-size(12);
        font-weight: bold;
        letter-spacing: $letter-spacing-label;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        line-height: 1em;
        padding: 10px 0 10px;
        margin-bottom: -1px;
      }
      &.current_page_item a, a:hover {
        color: $lifeboat-blue;
        border-bottom: 1px solid #{$lifeboat-blue};
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

/* --------------------------------------------------
   Homepage
-----------------------------------------------------
*/

/* Home Slider */
#home-slider {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  .slides {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    .slide {
      min-width: 960px;
      img{
        margin: auto;
        width: 50%;
        min-width: 960px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

/* Home Positioning Statement Area */
#home-intro {
  margin: {
    top: 15px;
    bottom: 35px;
  }
  .subheader {
    font-weight: normal;
    text-align: center;
    color: $black;
  }
  .home-buttons {
    margin: 0 auto;
    width: 465px;
    .button {
      float: left;
      margin-right: 45px;
    }
    .share {
      float: right;
    }
  }
}

/* Sidebar and content label titles */
.label-title, .label-title {
  color: $black;
  font-family: $bodyFontFamily;
  @include font-size(12);
  text-transform: uppercase;
  letter-spacing: $letter-spacing-label;
  padding-bottom: 4px;
  border-bottom: 1px solid #DEDEDE;
}
.home {
  .label-title, .label-title {
    //font-size: 12px;
  }
}


/* --------------------------------------------------
   Shared Inside Styles
-----------------------------------------------------
*/

#img-vid {
  max-height: 325px;
  overflow: hidden;
  margin-bottom: 23px;
}

#refs {
  color: $text-color-light-grey;
  border-top: 1px solid #{$border-light};
  padding: 10px 0;
  margin: 40px 0 0;
  h3, h4, h5, .label-title {
    font-weight: 500;
    @include font-size(11);
    color: $text-color-dark-grey;
    border-bottom: none;
    margin: 0 0 12px;
  }
  ol, ul, p, li, div, dt, dl, dd {
    @include font-size(13);
  }
  li {
    margin-bottom: 10px;
  }
}

#content {
  h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: $letter-spacing-title;
  }
}


/* --------------------------------------------------
   Blog
-----------------------------------------------------
*/

.type-post {
  a.blog-post-link {
    display: block;
    @include clearfix();
    .post-image {
      float: left;
      width: percentage(400px / $main-col-width);
      margin-right: percentage(20px / $main-col-width);
    }
    .post-content {
      float: left;
      width: percentage(340px / $main-col-width);
      h2 {
        margin: -4px 0 10px;
        color: $lifeboat-yellow;
        //font-size: ms(6); // Should be 62px
        @include font-size(62);
        text-transform: uppercase;
        letter-spacing: $letter-spacing-title;
        line-height: .85em;
      }
      .subtitle {
        color: #333333;
        font-weight: normal;
        margin-top: 0;
      }
    }
    &:hover .post-content {
      h2 {
        color: $lifeboat-orange;
      }
    }
  }
}


/* Homepage Featured Blog Post */
.home .type-post {
  a#more-from-blog {
    //position: absolute;
    top: -31px;
    margin-left: percentage((400px + 20px) / $main-col-width);
  }
  .post-content {
    h2 {
      //font-size: ms(7); // Should be 72px
      @include font-size(72);
    }
  }
}

/* Blog Index Page */
.blog.inside {
  h1.page-title {
    margin: 0 0 35px 0;
  }
  .type-post {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #{$border-light};
  }
}

/* Single Blog Posts */
.single .type-post {
  .five.columns {
    padding-right: 30px;
  }
  .subtitle, time, .credits {
    margin-bottom: 23px;
    padding-bottom: 20px;
    border-bottom: 1px solid #{$border-light};
  }
  time {
    display: block;
    @include font-size(15);
    font-style: italic;
  }
  .credits {
    @include font-size(14);
    line-height: 1.3em;
    font-style: italic;
    small {
      color: $text-color-med-grey;
      font-size: percentage(10px/14px);
      text-transform: uppercase;
      letter-spacing: $letter-spacing-label;
      font-style: normal;
    }
  }
}


/* --------------------------------------------------
   Pages
-----------------------------------------------------
*/

.page .type-page {
  .five.columns {
    padding-left: 30px;
  }
}


/* --------------------------------------------------
   Custom Classes
-----------------------------------------------------
*/



/* --------------------------------------------------
   Main Media Queries
-----------------------------------------------------
*/

@media screen and (max-width: $break-tablet-middle) {
//@include breakpoint($break-tablet-middle) {
  #home-slider {
    height: 350px;
  }
  .home #header .nav.container {
    top: (350px - 59px);
  }

  /* Hide parts of nav at a breakpoint */
  nav#primary {
    span, small {
      display: none !important;
    }
  }
}

@media screen and (max-width: $break-phone) {
//@include breakpoint($break-phone) {
  #home-slider {
    height: 300px;
  }
  .home #header .nav.container {
    top: (300px - 59px);
  }
}